.section {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--pale-grey-color);

  display: inline-flex;
  flex-direction: column;

  width: 420px;
}

.title {
  color: var(--primary-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 34px;
}

.FeedbackOptions {
  composes: section;
  height: 170px;
  justify-content: space-around;
}

.Statistics {
  composes: section;
  height: 290px;
}
